{% extends 'base.html' %}

{% block content %}
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h1>Obrigada por se inscrever!</h1>
        <div class="desktop-6">
            <p>Estes form os dados que você nos forneceu em sua inscrição:</p>

            <ul>
            <li>Nome: {{ subscription.name }}</li>
            <li>CPF: {{ subscription.cpf }}</li>
            <li>Email: {{ subscription.email }}</li>
            <li>Telefone: {{ subscription.phone }}</li>
            </ul>

            <p>Em até 48 horas úteis, a nossa equipe entrará em contato com você para concluirmos a sua matricula.</p>
        </div>
    </div>
</section>
{% endblock content %}