{% extends 'base.html' %}

{% block title %} 400. Requisição imprópria {% endblock title %}

{% block content %}
<!-- OVERVIEW -->
<section>
    <div class="content row padding-bottom-3 desktop-12 container">

        <h1>400</h1>
        <h2>Requisição imprópria</h2>
        <div class="desktop-6">
            <p>A requisição enviada não pode ser atendida.</p>
        </div>
    </div>
</section>
{% endblock content %}